.grid {
    display: grid;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-1\@sm {
        grid-template-columns: repeat(1, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-1\@md {
        grid-template-columns: repeat(1, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-1\@lg {
        grid-template-columns: repeat(1, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-1\@xl {
        grid-template-columns: repeat(1, 1fr);
   }
}
.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-2\@sm {
        grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-2\@md {
        grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-2\@lg {
        grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-2\@xl {
        grid-template-columns: repeat(2, 1fr);
   }
}
.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-3\@sm {
        grid-template-columns: repeat(3, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-3\@md {
        grid-template-columns: repeat(3, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-3\@lg {
        grid-template-columns: repeat(3, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-3\@xl {
        grid-template-columns: repeat(3, 1fr);
   }
}
.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-4\@sm {
        grid-template-columns: repeat(4, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-4\@md {
        grid-template-columns: repeat(4, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-4\@lg {
        grid-template-columns: repeat(4, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-4\@xl {
        grid-template-columns: repeat(4, 1fr);
   }
}
.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-5\@sm {
        grid-template-columns: repeat(5, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-5\@md {
        grid-template-columns: repeat(5, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-5\@lg {
        grid-template-columns: repeat(5, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-5\@xl {
        grid-template-columns: repeat(5, 1fr);
   }
}
.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-6\@sm {
        grid-template-columns: repeat(6, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-6\@md {
        grid-template-columns: repeat(6, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-6\@lg {
        grid-template-columns: repeat(6, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-6\@xl {
        grid-template-columns: repeat(6, 1fr);
   }
}
.grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-7\@sm {
        grid-template-columns: repeat(7, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-7\@md {
        grid-template-columns: repeat(7, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-7\@lg {
        grid-template-columns: repeat(7, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-7\@xl {
        grid-template-columns: repeat(7, 1fr);
   }
}
.grid-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-8\@sm {
        grid-template-columns: repeat(8, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-8\@md {
        grid-template-columns: repeat(8, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-8\@lg {
        grid-template-columns: repeat(8, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-8\@xl {
        grid-template-columns: repeat(8, 1fr);
   }
}
.grid-cols-9 {
    grid-template-columns: repeat(9, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-9\@sm {
        grid-template-columns: repeat(9, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-9\@md {
        grid-template-columns: repeat(9, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-9\@lg {
        grid-template-columns: repeat(9, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-9\@xl {
        grid-template-columns: repeat(9, 1fr);
   }
}
.grid-cols-10 {
    grid-template-columns: repeat(10, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-10\@sm {
        grid-template-columns: repeat(10, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-10\@md {
        grid-template-columns: repeat(10, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-10\@lg {
        grid-template-columns: repeat(10, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-10\@xl {
        grid-template-columns: repeat(10, 1fr);
   }
}
.grid-cols-11 {
    grid-template-columns: repeat(11, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-11\@sm {
        grid-template-columns: repeat(11, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-11\@md {
        grid-template-columns: repeat(11, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-11\@lg {
        grid-template-columns: repeat(11, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-11\@xl {
        grid-template-columns: repeat(11, 1fr);
   }
}
.grid-cols-12 {
    grid-template-columns: repeat(12, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-cols-12\@sm {
        grid-template-columns: repeat(12, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-cols-12\@md {
        grid-template-columns: repeat(12, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-cols-12\@lg {
        grid-template-columns: repeat(12, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-cols-12\@xl {
        grid-template-columns: repeat(12, 1fr);
   }
}
.grid-rows-1 {
    grid-template-rows: repeat(1, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-1\@sm {
        grid-template-rows: repeat(1, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-1\@md {
        grid-template-rows: repeat(1, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-1\@lg {
        grid-template-rows: repeat(1, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-1\@xl {
        grid-template-rows: repeat(1, 1fr);
   }
}
.grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-2\@sm {
        grid-template-rows: repeat(2, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-2\@md {
        grid-template-rows: repeat(2, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-2\@lg {
        grid-template-rows: repeat(2, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-2\@xl {
        grid-template-rows: repeat(2, 1fr);
   }
}
.grid-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-3\@sm {
        grid-template-rows: repeat(3, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-3\@md {
        grid-template-rows: repeat(3, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-3\@lg {
        grid-template-rows: repeat(3, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-3\@xl {
        grid-template-rows: repeat(3, 1fr);
   }
}
.grid-rows-4 {
    grid-template-rows: repeat(4, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-4\@sm {
        grid-template-rows: repeat(4, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-4\@md {
        grid-template-rows: repeat(4, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-4\@lg {
        grid-template-rows: repeat(4, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-4\@xl {
        grid-template-rows: repeat(4, 1fr);
   }
}
.grid-rows-5 {
    grid-template-rows: repeat(5, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-5\@sm {
        grid-template-rows: repeat(5, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-5\@md {
        grid-template-rows: repeat(5, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-5\@lg {
        grid-template-rows: repeat(5, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-5\@xl {
        grid-template-rows: repeat(5, 1fr);
   }
}
.grid-rows-6 {
    grid-template-rows: repeat(6, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-6\@sm {
        grid-template-rows: repeat(6, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-6\@md {
        grid-template-rows: repeat(6, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-6\@lg {
        grid-template-rows: repeat(6, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-6\@xl {
        grid-template-rows: repeat(6, 1fr);
   }
}
.grid-rows-7 {
    grid-template-rows: repeat(7, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-7\@sm {
        grid-template-rows: repeat(7, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-7\@md {
        grid-template-rows: repeat(7, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-7\@lg {
        grid-template-rows: repeat(7, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-7\@xl {
        grid-template-rows: repeat(7, 1fr);
   }
}
.grid-rows-8 {
    grid-template-rows: repeat(8, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-8\@sm {
        grid-template-rows: repeat(8, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-8\@md {
        grid-template-rows: repeat(8, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-8\@lg {
        grid-template-rows: repeat(8, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-8\@xl {
        grid-template-rows: repeat(8, 1fr);
   }
}
.grid-rows-9 {
    grid-template-rows: repeat(9, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-9\@sm {
        grid-template-rows: repeat(9, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-9\@md {
        grid-template-rows: repeat(9, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-9\@lg {
        grid-template-rows: repeat(9, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-9\@xl {
        grid-template-rows: repeat(9, 1fr);
   }
}
.grid-rows-10 {
    grid-template-rows: repeat(10, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-10\@sm {
        grid-template-rows: repeat(10, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-10\@md {
        grid-template-rows: repeat(10, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-10\@lg {
        grid-template-rows: repeat(10, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-10\@xl {
        grid-template-rows: repeat(10, 1fr);
   }
}
.grid-rows-11 {
    grid-template-rows: repeat(11, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-11\@sm {
        grid-template-rows: repeat(11, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-11\@md {
        grid-template-rows: repeat(11, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-11\@lg {
        grid-template-rows: repeat(11, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-11\@xl {
        grid-template-rows: repeat(11, 1fr);
   }
}
.grid-rows-12 {
    grid-template-rows: repeat(12, 1fr);
}
@media screen and (min-width: 576px) {
    .grid-rows-12\@sm {
        grid-template-rows: repeat(12, 1fr);
   }
}
@media screen and (min-width: 768px) {
    .grid-rows-12\@md {
        grid-template-rows: repeat(12, 1fr);
   }
}
@media screen and (min-width: 992px) {
    .grid-rows-12\@lg {
        grid-template-rows: repeat(12, 1fr);
   }
}
@media screen and (min-width: 1200px) {
    .grid-rows-12\@xl {
        grid-template-rows: repeat(12, 1fr);
   }
}
.col-gap-0 {
    column-gap: 0;
}
@media screen and (min-width: 576px) {
    .col-gap-0\@sm {
        column-gap: 0;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-0\@md {
        column-gap: 0;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-0\@lg {
        column-gap: 0;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-0\@xl {
        column-gap: 0;
   }
}
.col-gap-1 {
    column-gap: 0.25rem;
}
@media screen and (min-width: 576px) {
    .col-gap-1\@sm {
        column-gap: 0.25rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-1\@md {
        column-gap: 0.25rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-1\@lg {
        column-gap: 0.25rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-1\@xl {
        column-gap: 0.25rem;
   }
}
.col-gap-2 {
    column-gap: 0.5rem;
}
@media screen and (min-width: 576px) {
    .col-gap-2\@sm {
        column-gap: 0.5rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-2\@md {
        column-gap: 0.5rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-2\@lg {
        column-gap: 0.5rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-2\@xl {
        column-gap: 0.5rem;
   }
}
.col-gap-3 {
    column-gap: 0.75rem;
}
@media screen and (min-width: 576px) {
    .col-gap-3\@sm {
        column-gap: 0.75rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-3\@md {
        column-gap: 0.75rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-3\@lg {
        column-gap: 0.75rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-3\@xl {
        column-gap: 0.75rem;
   }
}
.col-gap-4 {
    column-gap: 1rem;
}
@media screen and (min-width: 576px) {
    .col-gap-4\@sm {
        column-gap: 1rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-4\@md {
        column-gap: 1rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-4\@lg {
        column-gap: 1rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-4\@xl {
        column-gap: 1rem;
   }
}
.col-gap-5 {
    column-gap: 1.25rem;
}
@media screen and (min-width: 576px) {
    .col-gap-5\@sm {
        column-gap: 1.25rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-5\@md {
        column-gap: 1.25rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-5\@lg {
        column-gap: 1.25rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-5\@xl {
        column-gap: 1.25rem;
   }
}
.col-gap-6 {
    column-gap: 1.5rem;
}
@media screen and (min-width: 576px) {
    .col-gap-6\@sm {
        column-gap: 1.5rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-6\@md {
        column-gap: 1.5rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-6\@lg {
        column-gap: 1.5rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-6\@xl {
        column-gap: 1.5rem;
   }
}
.col-gap-7 {
    column-gap: 1.75rem;
}
@media screen and (min-width: 576px) {
    .col-gap-7\@sm {
        column-gap: 1.75rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-7\@md {
        column-gap: 1.75rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-7\@lg {
        column-gap: 1.75rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-7\@xl {
        column-gap: 1.75rem;
   }
}
.col-gap-8 {
    column-gap: 2rem;
}
@media screen and (min-width: 576px) {
    .col-gap-8\@sm {
        column-gap: 2rem;
   }
}
@media screen and (min-width: 768px) {
    .col-gap-8\@md {
        column-gap: 2rem;
   }
}
@media screen and (min-width: 992px) {
    .col-gap-8\@lg {
        column-gap: 2rem;
   }
}
@media screen and (min-width: 1200px) {
    .col-gap-8\@xl {
        column-gap: 2rem;
   }
}
.row-gap-0 {
    row-gap: 0;
}
@media screen and (min-width: 576px) {
    .row-gap-0\@sm {
        row-gap: 0;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-0\@md {
        row-gap: 0;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-0\@lg {
        row-gap: 0;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-0\@xl {
        row-gap: 0;
   }
}
.row-gap-1 {
    row-gap: 0.25rem;
}
@media screen and (min-width: 576px) {
    .row-gap-1\@sm {
        row-gap: 0.25rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-1\@md {
        row-gap: 0.25rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-1\@lg {
        row-gap: 0.25rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-1\@xl {
        row-gap: 0.25rem;
   }
}
.row-gap-2 {
    row-gap: 0.5rem;
}
@media screen and (min-width: 576px) {
    .row-gap-2\@sm {
        row-gap: 0.5rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-2\@md {
        row-gap: 0.5rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-2\@lg {
        row-gap: 0.5rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-2\@xl {
        row-gap: 0.5rem;
   }
}
.row-gap-3 {
    row-gap: 0.75rem;
}
@media screen and (min-width: 576px) {
    .row-gap-3\@sm {
        row-gap: 0.75rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-3\@md {
        row-gap: 0.75rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-3\@lg {
        row-gap: 0.75rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-3\@xl {
        row-gap: 0.75rem;
   }
}
.row-gap-4 {
    row-gap: 1rem;
}
@media screen and (min-width: 576px) {
    .row-gap-4\@sm {
        row-gap: 1rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-4\@md {
        row-gap: 1rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-4\@lg {
        row-gap: 1rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-4\@xl {
        row-gap: 1rem;
   }
}
.row-gap-5 {
    row-gap: 1.25rem;
}
@media screen and (min-width: 576px) {
    .row-gap-5\@sm {
        row-gap: 1.25rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-5\@md {
        row-gap: 1.25rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-5\@lg {
        row-gap: 1.25rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-5\@xl {
        row-gap: 1.25rem;
   }
}
.row-gap-6 {
    row-gap: 1.5rem;
}
@media screen and (min-width: 576px) {
    .row-gap-6\@sm {
        row-gap: 1.5rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-6\@md {
        row-gap: 1.5rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-6\@lg {
        row-gap: 1.5rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-6\@xl {
        row-gap: 1.5rem;
   }
}
.row-gap-7 {
    row-gap: 1.75rem;
}
@media screen and (min-width: 576px) {
    .row-gap-7\@sm {
        row-gap: 1.75rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-7\@md {
        row-gap: 1.75rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-7\@lg {
        row-gap: 1.75rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-7\@xl {
        row-gap: 1.75rem;
   }
}
.row-gap-8 {
    row-gap: 2rem;
}
@media screen and (min-width: 576px) {
    .row-gap-8\@sm {
        row-gap: 2rem;
   }
}
@media screen and (min-width: 768px) {
    .row-gap-8\@md {
        row-gap: 2rem;
   }
}
@media screen and (min-width: 992px) {
    .row-gap-8\@lg {
        row-gap: 2rem;
   }
}
@media screen and (min-width: 1200px) {
    .row-gap-8\@xl {
        row-gap: 2rem;
   }
}
.grid-gap-0 {
    gap: 0;
}
@media screen and (min-width: 576px) {
    .grid-gap-0\@sm {
        gap: 0;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-0\@md {
        gap: 0;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-0\@lg {
        gap: 0;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-0\@xl {
        gap: 0;
   }
}
.grid-gap-1 {
    gap: 0.25rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-1\@sm {
        gap: 0.25rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-1\@md {
        gap: 0.25rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-1\@lg {
        gap: 0.25rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-1\@xl {
        gap: 0.25rem;
   }
}
.grid-gap-2 {
    gap: 0.5rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-2\@sm {
        gap: 0.5rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-2\@md {
        gap: 0.5rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-2\@lg {
        gap: 0.5rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-2\@xl {
        gap: 0.5rem;
   }
}
.grid-gap-3 {
    gap: 0.75rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-3\@sm {
        gap: 0.75rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-3\@md {
        gap: 0.75rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-3\@lg {
        gap: 0.75rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-3\@xl {
        gap: 0.75rem;
   }
}
.grid-gap-4 {
    gap: 1rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-4\@sm {
        gap: 1rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-4\@md {
        gap: 1rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-4\@lg {
        gap: 1rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-4\@xl {
        gap: 1rem;
   }
}
.grid-gap-5 {
    gap: 1.25rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-5\@sm {
        gap: 1.25rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-5\@md {
        gap: 1.25rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-5\@lg {
        gap: 1.25rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-5\@xl {
        gap: 1.25rem;
   }
}
.grid-gap-6 {
    gap: 1.5rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-6\@sm {
        gap: 1.5rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-6\@md {
        gap: 1.5rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-6\@lg {
        gap: 1.5rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-6\@xl {
        gap: 1.5rem;
   }
}
.grid-gap-7 {
    gap: 1.75rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-7\@sm {
        gap: 1.75rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-7\@md {
        gap: 1.75rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-7\@lg {
        gap: 1.75rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-7\@xl {
        gap: 1.75rem;
   }
}
.grid-gap-8 {
    gap: 2rem;
}
@media screen and (min-width: 576px) {
    .grid-gap-8\@sm {
        gap: 2rem;
   }
}
@media screen and (min-width: 768px) {
    .grid-gap-8\@md {
        gap: 2rem;
   }
}
@media screen and (min-width: 992px) {
    .grid-gap-8\@lg {
        gap: 2rem;
   }
}
@media screen and (min-width: 1200px) {
    .grid-gap-8\@xl {
        gap: 2rem;
   }
}
.align-items-start {
    align-items: start;
}
@media screen and (min-width: 576px) {
    .align-items-start\@sm {
        align-items: start;
   }
}
@media screen and (min-width: 768px) {
    .align-items-start\@md {
        align-items: start;
   }
}
@media screen and (min-width: 992px) {
    .align-items-start\@lg {
        align-items: start;
   }
}
@media screen and (min-width: 1200px) {
    .align-items-start\@xl {
        align-items: start;
   }
}
.align-items-end {
    align-items: end;
}
@media screen and (min-width: 576px) {
    .align-items-end\@sm {
        align-items: end;
   }
}
@media screen and (min-width: 768px) {
    .align-items-end\@md {
        align-items: end;
   }
}
@media screen and (min-width: 992px) {
    .align-items-end\@lg {
        align-items: end;
   }
}
@media screen and (min-width: 1200px) {
    .align-items-end\@xl {
        align-items: end;
   }
}
.align-items-center {
    align-items: center;
}
@media screen and (min-width: 576px) {
    .align-items-center\@sm {
        align-items: center;
   }
}
@media screen and (min-width: 768px) {
    .align-items-center\@md {
        align-items: center;
   }
}
@media screen and (min-width: 992px) {
    .align-items-center\@lg {
        align-items: center;
   }
}
@media screen and (min-width: 1200px) {
    .align-items-center\@xl {
        align-items: center;
   }
}
.align-items-baseline {
    align-items: baseline;
}
@media screen and (min-width: 576px) {
    .align-items-baseline\@sm {
        align-items: baseline;
   }
}
@media screen and (min-width: 768px) {
    .align-items-baseline\@md {
        align-items: baseline;
   }
}
@media screen and (min-width: 992px) {
    .align-items-baseline\@lg {
        align-items: baseline;
   }
}
@media screen and (min-width: 1200px) {
    .align-items-baseline\@xl {
        align-items: baseline;
   }
}
.align-items-stretch {
    align-items: stretch;
}
@media screen and (min-width: 576px) {
    .align-items-stretch\@sm {
        align-items: stretch;
   }
}
@media screen and (min-width: 768px) {
    .align-items-stretch\@md {
        align-items: stretch;
   }
}
@media screen and (min-width: 992px) {
    .align-items-stretch\@lg {
        align-items: stretch;
   }
}
@media screen and (min-width: 1200px) {
    .align-items-stretch\@xl {
        align-items: stretch;
   }
}
.justify-items-start {
    justify-items: start;
}
@media screen and (min-width: 576px) {
    .justify-items-start\@sm {
        justify-items: start;
   }
}
@media screen and (min-width: 768px) {
    .justify-items-start\@md {
        justify-items: start;
   }
}
@media screen and (min-width: 992px) {
    .justify-items-start\@lg {
        justify-items: start;
   }
}
@media screen and (min-width: 1200px) {
    .justify-items-start\@xl {
        justify-items: start;
   }
}
.justify-items-end {
    justify-items: end;
}
@media screen and (min-width: 576px) {
    .justify-items-end\@sm {
        justify-items: end;
   }
}
@media screen and (min-width: 768px) {
    .justify-items-end\@md {
        justify-items: end;
   }
}
@media screen and (min-width: 992px) {
    .justify-items-end\@lg {
        justify-items: end;
   }
}
@media screen and (min-width: 1200px) {
    .justify-items-end\@xl {
        justify-items: end;
   }
}
.justify-items-center {
    justify-items: center;
}
@media screen and (min-width: 576px) {
    .justify-items-center\@sm {
        justify-items: center;
   }
}
@media screen and (min-width: 768px) {
    .justify-items-center\@md {
        justify-items: center;
   }
}
@media screen and (min-width: 992px) {
    .justify-items-center\@lg {
        justify-items: center;
   }
}
@media screen and (min-width: 1200px) {
    .justify-items-center\@xl {
        justify-items: center;
   }
}
.justify-items-baseline {
    justify-items: baseline;
}
@media screen and (min-width: 576px) {
    .justify-items-baseline\@sm {
        justify-items: baseline;
   }
}
@media screen and (min-width: 768px) {
    .justify-items-baseline\@md {
        justify-items: baseline;
   }
}
@media screen and (min-width: 992px) {
    .justify-items-baseline\@lg {
        justify-items: baseline;
   }
}
@media screen and (min-width: 1200px) {
    .justify-items-baseline\@xl {
        justify-items: baseline;
   }
}
.justify-items-stretch {
    justify-items: stretch;
}
@media screen and (min-width: 576px) {
    .justify-items-stretch\@sm {
        justify-items: stretch;
   }
}
@media screen and (min-width: 768px) {
    .justify-items-stretch\@md {
        justify-items: stretch;
   }
}
@media screen and (min-width: 992px) {
    .justify-items-stretch\@lg {
        justify-items: stretch;
   }
}
@media screen and (min-width: 1200px) {
    .justify-items-stretch\@xl {
        justify-items: stretch;
   }
}
.align-content-start {
    align-content: start;
}
@media screen and (min-width: 576px) {
    .align-content-start\@sm {
        align-content: start;
   }
}
@media screen and (min-width: 768px) {
    .align-content-start\@md {
        align-content: start;
   }
}
@media screen and (min-width: 992px) {
    .align-content-start\@lg {
        align-content: start;
   }
}
@media screen and (min-width: 1200px) {
    .align-content-start\@xl {
        align-content: start;
   }
}
.align-content-end {
    align-content: end;
}
@media screen and (min-width: 576px) {
    .align-content-end\@sm {
        align-content: end;
   }
}
@media screen and (min-width: 768px) {
    .align-content-end\@md {
        align-content: end;
   }
}
@media screen and (min-width: 992px) {
    .align-content-end\@lg {
        align-content: end;
   }
}
@media screen and (min-width: 1200px) {
    .align-content-end\@xl {
        align-content: end;
   }
}
.align-content-center {
    align-content: center;
}
@media screen and (min-width: 576px) {
    .align-content-center\@sm {
        align-content: center;
   }
}
@media screen and (min-width: 768px) {
    .align-content-center\@md {
        align-content: center;
   }
}
@media screen and (min-width: 992px) {
    .align-content-center\@lg {
        align-content: center;
   }
}
@media screen and (min-width: 1200px) {
    .align-content-center\@xl {
        align-content: center;
   }
}
.align-content-between {
    align-content: space-between;
}
@media screen and (min-width: 576px) {
    .align-content-between\@sm {
        align-content: space-between;
   }
}
@media screen and (min-width: 768px) {
    .align-content-between\@md {
        align-content: space-between;
   }
}
@media screen and (min-width: 992px) {
    .align-content-between\@lg {
        align-content: space-between;
   }
}
@media screen and (min-width: 1200px) {
    .align-content-between\@xl {
        align-content: space-between;
   }
}
.align-content-around {
    align-content: space-around;
}
@media screen and (min-width: 576px) {
    .align-content-around\@sm {
        align-content: space-around;
   }
}
@media screen and (min-width: 768px) {
    .align-content-around\@md {
        align-content: space-around;
   }
}
@media screen and (min-width: 992px) {
    .align-content-around\@lg {
        align-content: space-around;
   }
}
@media screen and (min-width: 1200px) {
    .align-content-around\@xl {
        align-content: space-around;
   }
}
.align-content-evenly {
    align-content: space-evenly;
}
@media screen and (min-width: 576px) {
    .align-content-evenly\@sm {
        align-content: space-evenly;
   }
}
@media screen and (min-width: 768px) {
    .align-content-evenly\@md {
        align-content: space-evenly;
   }
}
@media screen and (min-width: 992px) {
    .align-content-evenly\@lg {
        align-content: space-evenly;
   }
}
@media screen and (min-width: 1200px) {
    .align-content-evenly\@xl {
        align-content: space-evenly;
   }
}
.justify-content-start {
    justify-content: start;
}
@media screen and (min-width: 576px) {
    .justify-content-start\@sm {
        justify-content: start;
   }
}
@media screen and (min-width: 768px) {
    .justify-content-start\@md {
        justify-content: start;
   }
}
@media screen and (min-width: 992px) {
    .justify-content-start\@lg {
        justify-content: start;
   }
}
@media screen and (min-width: 1200px) {
    .justify-content-start\@xl {
        justify-content: start;
   }
}
.justify-content-end {
    justify-content: end;
}
@media screen and (min-width: 576px) {
    .justify-content-end\@sm {
        justify-content: end;
   }
}
@media screen and (min-width: 768px) {
    .justify-content-end\@md {
        justify-content: end;
   }
}
@media screen and (min-width: 992px) {
    .justify-content-end\@lg {
        justify-content: end;
   }
}
@media screen and (min-width: 1200px) {
    .justify-content-end\@xl {
        justify-content: end;
   }
}
.justify-content-center {
    justify-content: center;
}
@media screen and (min-width: 576px) {
    .justify-content-center\@sm {
        justify-content: center;
   }
}
@media screen and (min-width: 768px) {
    .justify-content-center\@md {
        justify-content: center;
   }
}
@media screen and (min-width: 992px) {
    .justify-content-center\@lg {
        justify-content: center;
   }
}
@media screen and (min-width: 1200px) {
    .justify-content-center\@xl {
        justify-content: center;
   }
}
.justify-content-between {
    justify-content: space-between;
}
@media screen and (min-width: 576px) {
    .justify-content-between\@sm {
        justify-content: space-between;
   }
}
@media screen and (min-width: 768px) {
    .justify-content-between\@md {
        justify-content: space-between;
   }
}
@media screen and (min-width: 992px) {
    .justify-content-between\@lg {
        justify-content: space-between;
   }
}
@media screen and (min-width: 1200px) {
    .justify-content-between\@xl {
        justify-content: space-between;
   }
}
.justify-content-around {
    justify-content: space-around;
}
@media screen and (min-width: 576px) {
    .justify-content-around\@sm {
        justify-content: space-around;
   }
}
@media screen and (min-width: 768px) {
    .justify-content-around\@md {
        justify-content: space-around;
   }
}
@media screen and (min-width: 992px) {
    .justify-content-around\@lg {
        justify-content: space-around;
   }
}
@media screen and (min-width: 1200px) {
    .justify-content-around\@xl {
        justify-content: space-around;
   }
}
.justify-content-evenly {
    justify-content: space-evenly;
}
@media screen and (min-width: 576px) {
    .justify-content-evenly\@sm {
        justify-content: space-evenly;
   }
}
@media screen and (min-width: 768px) {
    .justify-content-evenly\@md {
        justify-content: space-evenly;
   }
}
@media screen and (min-width: 992px) {
    .justify-content-evenly\@lg {
        justify-content: space-evenly;
   }
}
@media screen and (min-width: 1200px) {
    .justify-content-evenly\@xl {
        justify-content: space-evenly;
   }
}
.col-start-1 {
    grid-column-start: 1;
}
@media screen and (min-width: 576px) {
    .col-start-1\@sm {
        grid-column-start: 1;
   }
}
@media screen and (min-width: 768px) {
    .col-start-1\@md {
        grid-column-start: 1;
   }
}
@media screen and (min-width: 992px) {
    .col-start-1\@lg {
        grid-column-start: 1;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-1\@xl {
        grid-column-start: 1;
   }
}
.row-start-1 {
    grid-row-start: 1;
}
@media screen and (min-width: 576px) {
    .row-start-1\@sm {
        grid-row-start: 1;
   }
}
@media screen and (min-width: 768px) {
    .row-start-1\@md {
        grid-row-start: 1;
   }
}
@media screen and (min-width: 992px) {
    .row-start-1\@lg {
        grid-row-start: 1;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-1\@xl {
        grid-row-start: 1;
   }
}
.col-end-1 {
    grid-column-end: 1;
}
@media screen and (min-width: 576px) {
    .col-end-1\@sm {
        grid-column-end: 1;
   }
}
@media screen and (min-width: 768px) {
    .col-end-1\@md {
        grid-column-end: 1;
   }
}
@media screen and (min-width: 992px) {
    .col-end-1\@lg {
        grid-column-end: 1;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-1\@xl {
        grid-column-end: 1;
   }
}
.row-end-1 {
    grid-row-end: 1;
}
@media screen and (min-width: 576px) {
    .row-end-1\@sm {
        grid-row-end: 1;
   }
}
@media screen and (min-width: 768px) {
    .row-end-1\@md {
        grid-row-end: 1;
   }
}
@media screen and (min-width: 992px) {
    .row-end-1\@lg {
        grid-row-end: 1;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-1\@xl {
        grid-row-end: 1;
   }
}
.col-start-2 {
    grid-column-start: 2;
}
@media screen and (min-width: 576px) {
    .col-start-2\@sm {
        grid-column-start: 2;
   }
}
@media screen and (min-width: 768px) {
    .col-start-2\@md {
        grid-column-start: 2;
   }
}
@media screen and (min-width: 992px) {
    .col-start-2\@lg {
        grid-column-start: 2;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-2\@xl {
        grid-column-start: 2;
   }
}
.row-start-2 {
    grid-row-start: 2;
}
@media screen and (min-width: 576px) {
    .row-start-2\@sm {
        grid-row-start: 2;
   }
}
@media screen and (min-width: 768px) {
    .row-start-2\@md {
        grid-row-start: 2;
   }
}
@media screen and (min-width: 992px) {
    .row-start-2\@lg {
        grid-row-start: 2;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-2\@xl {
        grid-row-start: 2;
   }
}
.col-end-2 {
    grid-column-end: 2;
}
@media screen and (min-width: 576px) {
    .col-end-2\@sm {
        grid-column-end: 2;
   }
}
@media screen and (min-width: 768px) {
    .col-end-2\@md {
        grid-column-end: 2;
   }
}
@media screen and (min-width: 992px) {
    .col-end-2\@lg {
        grid-column-end: 2;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-2\@xl {
        grid-column-end: 2;
   }
}
.row-end-2 {
    grid-row-end: 2;
}
@media screen and (min-width: 576px) {
    .row-end-2\@sm {
        grid-row-end: 2;
   }
}
@media screen and (min-width: 768px) {
    .row-end-2\@md {
        grid-row-end: 2;
   }
}
@media screen and (min-width: 992px) {
    .row-end-2\@lg {
        grid-row-end: 2;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-2\@xl {
        grid-row-end: 2;
   }
}
.col-start-3 {
    grid-column-start: 3;
}
@media screen and (min-width: 576px) {
    .col-start-3\@sm {
        grid-column-start: 3;
   }
}
@media screen and (min-width: 768px) {
    .col-start-3\@md {
        grid-column-start: 3;
   }
}
@media screen and (min-width: 992px) {
    .col-start-3\@lg {
        grid-column-start: 3;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-3\@xl {
        grid-column-start: 3;
   }
}
.row-start-3 {
    grid-row-start: 3;
}
@media screen and (min-width: 576px) {
    .row-start-3\@sm {
        grid-row-start: 3;
   }
}
@media screen and (min-width: 768px) {
    .row-start-3\@md {
        grid-row-start: 3;
   }
}
@media screen and (min-width: 992px) {
    .row-start-3\@lg {
        grid-row-start: 3;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-3\@xl {
        grid-row-start: 3;
   }
}
.col-end-3 {
    grid-column-end: 3;
}
@media screen and (min-width: 576px) {
    .col-end-3\@sm {
        grid-column-end: 3;
   }
}
@media screen and (min-width: 768px) {
    .col-end-3\@md {
        grid-column-end: 3;
   }
}
@media screen and (min-width: 992px) {
    .col-end-3\@lg {
        grid-column-end: 3;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-3\@xl {
        grid-column-end: 3;
   }
}
.row-end-3 {
    grid-row-end: 3;
}
@media screen and (min-width: 576px) {
    .row-end-3\@sm {
        grid-row-end: 3;
   }
}
@media screen and (min-width: 768px) {
    .row-end-3\@md {
        grid-row-end: 3;
   }
}
@media screen and (min-width: 992px) {
    .row-end-3\@lg {
        grid-row-end: 3;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-3\@xl {
        grid-row-end: 3;
   }
}
.col-start-4 {
    grid-column-start: 4;
}
@media screen and (min-width: 576px) {
    .col-start-4\@sm {
        grid-column-start: 4;
   }
}
@media screen and (min-width: 768px) {
    .col-start-4\@md {
        grid-column-start: 4;
   }
}
@media screen and (min-width: 992px) {
    .col-start-4\@lg {
        grid-column-start: 4;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-4\@xl {
        grid-column-start: 4;
   }
}
.row-start-4 {
    grid-row-start: 4;
}
@media screen and (min-width: 576px) {
    .row-start-4\@sm {
        grid-row-start: 4;
   }
}
@media screen and (min-width: 768px) {
    .row-start-4\@md {
        grid-row-start: 4;
   }
}
@media screen and (min-width: 992px) {
    .row-start-4\@lg {
        grid-row-start: 4;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-4\@xl {
        grid-row-start: 4;
   }
}
.col-end-4 {
    grid-column-end: 4;
}
@media screen and (min-width: 576px) {
    .col-end-4\@sm {
        grid-column-end: 4;
   }
}
@media screen and (min-width: 768px) {
    .col-end-4\@md {
        grid-column-end: 4;
   }
}
@media screen and (min-width: 992px) {
    .col-end-4\@lg {
        grid-column-end: 4;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-4\@xl {
        grid-column-end: 4;
   }
}
.row-end-4 {
    grid-row-end: 4;
}
@media screen and (min-width: 576px) {
    .row-end-4\@sm {
        grid-row-end: 4;
   }
}
@media screen and (min-width: 768px) {
    .row-end-4\@md {
        grid-row-end: 4;
   }
}
@media screen and (min-width: 992px) {
    .row-end-4\@lg {
        grid-row-end: 4;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-4\@xl {
        grid-row-end: 4;
   }
}
.col-start-5 {
    grid-column-start: 5;
}
@media screen and (min-width: 576px) {
    .col-start-5\@sm {
        grid-column-start: 5;
   }
}
@media screen and (min-width: 768px) {
    .col-start-5\@md {
        grid-column-start: 5;
   }
}
@media screen and (min-width: 992px) {
    .col-start-5\@lg {
        grid-column-start: 5;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-5\@xl {
        grid-column-start: 5;
   }
}
.row-start-5 {
    grid-row-start: 5;
}
@media screen and (min-width: 576px) {
    .row-start-5\@sm {
        grid-row-start: 5;
   }
}
@media screen and (min-width: 768px) {
    .row-start-5\@md {
        grid-row-start: 5;
   }
}
@media screen and (min-width: 992px) {
    .row-start-5\@lg {
        grid-row-start: 5;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-5\@xl {
        grid-row-start: 5;
   }
}
.col-end-5 {
    grid-column-end: 5;
}
@media screen and (min-width: 576px) {
    .col-end-5\@sm {
        grid-column-end: 5;
   }
}
@media screen and (min-width: 768px) {
    .col-end-5\@md {
        grid-column-end: 5;
   }
}
@media screen and (min-width: 992px) {
    .col-end-5\@lg {
        grid-column-end: 5;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-5\@xl {
        grid-column-end: 5;
   }
}
.row-end-5 {
    grid-row-end: 5;
}
@media screen and (min-width: 576px) {
    .row-end-5\@sm {
        grid-row-end: 5;
   }
}
@media screen and (min-width: 768px) {
    .row-end-5\@md {
        grid-row-end: 5;
   }
}
@media screen and (min-width: 992px) {
    .row-end-5\@lg {
        grid-row-end: 5;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-5\@xl {
        grid-row-end: 5;
   }
}
.col-start-6 {
    grid-column-start: 6;
}
@media screen and (min-width: 576px) {
    .col-start-6\@sm {
        grid-column-start: 6;
   }
}
@media screen and (min-width: 768px) {
    .col-start-6\@md {
        grid-column-start: 6;
   }
}
@media screen and (min-width: 992px) {
    .col-start-6\@lg {
        grid-column-start: 6;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-6\@xl {
        grid-column-start: 6;
   }
}
.row-start-6 {
    grid-row-start: 6;
}
@media screen and (min-width: 576px) {
    .row-start-6\@sm {
        grid-row-start: 6;
   }
}
@media screen and (min-width: 768px) {
    .row-start-6\@md {
        grid-row-start: 6;
   }
}
@media screen and (min-width: 992px) {
    .row-start-6\@lg {
        grid-row-start: 6;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-6\@xl {
        grid-row-start: 6;
   }
}
.col-end-6 {
    grid-column-end: 6;
}
@media screen and (min-width: 576px) {
    .col-end-6\@sm {
        grid-column-end: 6;
   }
}
@media screen and (min-width: 768px) {
    .col-end-6\@md {
        grid-column-end: 6;
   }
}
@media screen and (min-width: 992px) {
    .col-end-6\@lg {
        grid-column-end: 6;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-6\@xl {
        grid-column-end: 6;
   }
}
.row-end-6 {
    grid-row-end: 6;
}
@media screen and (min-width: 576px) {
    .row-end-6\@sm {
        grid-row-end: 6;
   }
}
@media screen and (min-width: 768px) {
    .row-end-6\@md {
        grid-row-end: 6;
   }
}
@media screen and (min-width: 992px) {
    .row-end-6\@lg {
        grid-row-end: 6;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-6\@xl {
        grid-row-end: 6;
   }
}
.col-start-7 {
    grid-column-start: 7;
}
@media screen and (min-width: 576px) {
    .col-start-7\@sm {
        grid-column-start: 7;
   }
}
@media screen and (min-width: 768px) {
    .col-start-7\@md {
        grid-column-start: 7;
   }
}
@media screen and (min-width: 992px) {
    .col-start-7\@lg {
        grid-column-start: 7;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-7\@xl {
        grid-column-start: 7;
   }
}
.row-start-7 {
    grid-row-start: 7;
}
@media screen and (min-width: 576px) {
    .row-start-7\@sm {
        grid-row-start: 7;
   }
}
@media screen and (min-width: 768px) {
    .row-start-7\@md {
        grid-row-start: 7;
   }
}
@media screen and (min-width: 992px) {
    .row-start-7\@lg {
        grid-row-start: 7;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-7\@xl {
        grid-row-start: 7;
   }
}
.col-end-7 {
    grid-column-end: 7;
}
@media screen and (min-width: 576px) {
    .col-end-7\@sm {
        grid-column-end: 7;
   }
}
@media screen and (min-width: 768px) {
    .col-end-7\@md {
        grid-column-end: 7;
   }
}
@media screen and (min-width: 992px) {
    .col-end-7\@lg {
        grid-column-end: 7;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-7\@xl {
        grid-column-end: 7;
   }
}
.row-end-7 {
    grid-row-end: 7;
}
@media screen and (min-width: 576px) {
    .row-end-7\@sm {
        grid-row-end: 7;
   }
}
@media screen and (min-width: 768px) {
    .row-end-7\@md {
        grid-row-end: 7;
   }
}
@media screen and (min-width: 992px) {
    .row-end-7\@lg {
        grid-row-end: 7;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-7\@xl {
        grid-row-end: 7;
   }
}
.col-start-8 {
    grid-column-start: 8;
}
@media screen and (min-width: 576px) {
    .col-start-8\@sm {
        grid-column-start: 8;
   }
}
@media screen and (min-width: 768px) {
    .col-start-8\@md {
        grid-column-start: 8;
   }
}
@media screen and (min-width: 992px) {
    .col-start-8\@lg {
        grid-column-start: 8;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-8\@xl {
        grid-column-start: 8;
   }
}
.row-start-8 {
    grid-row-start: 8;
}
@media screen and (min-width: 576px) {
    .row-start-8\@sm {
        grid-row-start: 8;
   }
}
@media screen and (min-width: 768px) {
    .row-start-8\@md {
        grid-row-start: 8;
   }
}
@media screen and (min-width: 992px) {
    .row-start-8\@lg {
        grid-row-start: 8;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-8\@xl {
        grid-row-start: 8;
   }
}
.col-end-8 {
    grid-column-end: 8;
}
@media screen and (min-width: 576px) {
    .col-end-8\@sm {
        grid-column-end: 8;
   }
}
@media screen and (min-width: 768px) {
    .col-end-8\@md {
        grid-column-end: 8;
   }
}
@media screen and (min-width: 992px) {
    .col-end-8\@lg {
        grid-column-end: 8;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-8\@xl {
        grid-column-end: 8;
   }
}
.row-end-8 {
    grid-row-end: 8;
}
@media screen and (min-width: 576px) {
    .row-end-8\@sm {
        grid-row-end: 8;
   }
}
@media screen and (min-width: 768px) {
    .row-end-8\@md {
        grid-row-end: 8;
   }
}
@media screen and (min-width: 992px) {
    .row-end-8\@lg {
        grid-row-end: 8;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-8\@xl {
        grid-row-end: 8;
   }
}
.col-start-9 {
    grid-column-start: 9;
}
@media screen and (min-width: 576px) {
    .col-start-9\@sm {
        grid-column-start: 9;
   }
}
@media screen and (min-width: 768px) {
    .col-start-9\@md {
        grid-column-start: 9;
   }
}
@media screen and (min-width: 992px) {
    .col-start-9\@lg {
        grid-column-start: 9;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-9\@xl {
        grid-column-start: 9;
   }
}
.row-start-9 {
    grid-row-start: 9;
}
@media screen and (min-width: 576px) {
    .row-start-9\@sm {
        grid-row-start: 9;
   }
}
@media screen and (min-width: 768px) {
    .row-start-9\@md {
        grid-row-start: 9;
   }
}
@media screen and (min-width: 992px) {
    .row-start-9\@lg {
        grid-row-start: 9;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-9\@xl {
        grid-row-start: 9;
   }
}
.col-end-9 {
    grid-column-end: 9;
}
@media screen and (min-width: 576px) {
    .col-end-9\@sm {
        grid-column-end: 9;
   }
}
@media screen and (min-width: 768px) {
    .col-end-9\@md {
        grid-column-end: 9;
   }
}
@media screen and (min-width: 992px) {
    .col-end-9\@lg {
        grid-column-end: 9;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-9\@xl {
        grid-column-end: 9;
   }
}
.row-end-9 {
    grid-row-end: 9;
}
@media screen and (min-width: 576px) {
    .row-end-9\@sm {
        grid-row-end: 9;
   }
}
@media screen and (min-width: 768px) {
    .row-end-9\@md {
        grid-row-end: 9;
   }
}
@media screen and (min-width: 992px) {
    .row-end-9\@lg {
        grid-row-end: 9;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-9\@xl {
        grid-row-end: 9;
   }
}
.col-start-10 {
    grid-column-start: 10;
}
@media screen and (min-width: 576px) {
    .col-start-10\@sm {
        grid-column-start: 10;
   }
}
@media screen and (min-width: 768px) {
    .col-start-10\@md {
        grid-column-start: 10;
   }
}
@media screen and (min-width: 992px) {
    .col-start-10\@lg {
        grid-column-start: 10;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-10\@xl {
        grid-column-start: 10;
   }
}
.row-start-10 {
    grid-row-start: 10;
}
@media screen and (min-width: 576px) {
    .row-start-10\@sm {
        grid-row-start: 10;
   }
}
@media screen and (min-width: 768px) {
    .row-start-10\@md {
        grid-row-start: 10;
   }
}
@media screen and (min-width: 992px) {
    .row-start-10\@lg {
        grid-row-start: 10;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-10\@xl {
        grid-row-start: 10;
   }
}
.col-end-10 {
    grid-column-end: 10;
}
@media screen and (min-width: 576px) {
    .col-end-10\@sm {
        grid-column-end: 10;
   }
}
@media screen and (min-width: 768px) {
    .col-end-10\@md {
        grid-column-end: 10;
   }
}
@media screen and (min-width: 992px) {
    .col-end-10\@lg {
        grid-column-end: 10;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-10\@xl {
        grid-column-end: 10;
   }
}
.row-end-10 {
    grid-row-end: 10;
}
@media screen and (min-width: 576px) {
    .row-end-10\@sm {
        grid-row-end: 10;
   }
}
@media screen and (min-width: 768px) {
    .row-end-10\@md {
        grid-row-end: 10;
   }
}
@media screen and (min-width: 992px) {
    .row-end-10\@lg {
        grid-row-end: 10;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-10\@xl {
        grid-row-end: 10;
   }
}
.col-start-11 {
    grid-column-start: 11;
}
@media screen and (min-width: 576px) {
    .col-start-11\@sm {
        grid-column-start: 11;
   }
}
@media screen and (min-width: 768px) {
    .col-start-11\@md {
        grid-column-start: 11;
   }
}
@media screen and (min-width: 992px) {
    .col-start-11\@lg {
        grid-column-start: 11;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-11\@xl {
        grid-column-start: 11;
   }
}
.row-start-11 {
    grid-row-start: 11;
}
@media screen and (min-width: 576px) {
    .row-start-11\@sm {
        grid-row-start: 11;
   }
}
@media screen and (min-width: 768px) {
    .row-start-11\@md {
        grid-row-start: 11;
   }
}
@media screen and (min-width: 992px) {
    .row-start-11\@lg {
        grid-row-start: 11;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-11\@xl {
        grid-row-start: 11;
   }
}
.col-end-11 {
    grid-column-end: 11;
}
@media screen and (min-width: 576px) {
    .col-end-11\@sm {
        grid-column-end: 11;
   }
}
@media screen and (min-width: 768px) {
    .col-end-11\@md {
        grid-column-end: 11;
   }
}
@media screen and (min-width: 992px) {
    .col-end-11\@lg {
        grid-column-end: 11;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-11\@xl {
        grid-column-end: 11;
   }
}
.row-end-11 {
    grid-row-end: 11;
}
@media screen and (min-width: 576px) {
    .row-end-11\@sm {
        grid-row-end: 11;
   }
}
@media screen and (min-width: 768px) {
    .row-end-11\@md {
        grid-row-end: 11;
   }
}
@media screen and (min-width: 992px) {
    .row-end-11\@lg {
        grid-row-end: 11;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-11\@xl {
        grid-row-end: 11;
   }
}
.col-start-12 {
    grid-column-start: 12;
}
@media screen and (min-width: 576px) {
    .col-start-12\@sm {
        grid-column-start: 12;
   }
}
@media screen and (min-width: 768px) {
    .col-start-12\@md {
        grid-column-start: 12;
   }
}
@media screen and (min-width: 992px) {
    .col-start-12\@lg {
        grid-column-start: 12;
   }
}
@media screen and (min-width: 1200px) {
    .col-start-12\@xl {
        grid-column-start: 12;
   }
}
.row-start-12 {
    grid-row-start: 12;
}
@media screen and (min-width: 576px) {
    .row-start-12\@sm {
        grid-row-start: 12;
   }
}
@media screen and (min-width: 768px) {
    .row-start-12\@md {
        grid-row-start: 12;
   }
}
@media screen and (min-width: 992px) {
    .row-start-12\@lg {
        grid-row-start: 12;
   }
}
@media screen and (min-width: 1200px) {
    .row-start-12\@xl {
        grid-row-start: 12;
   }
}
.col-end-12 {
    grid-column-end: 12;
}
@media screen and (min-width: 576px) {
    .col-end-12\@sm {
        grid-column-end: 12;
   }
}
@media screen and (min-width: 768px) {
    .col-end-12\@md {
        grid-column-end: 12;
   }
}
@media screen and (min-width: 992px) {
    .col-end-12\@lg {
        grid-column-end: 12;
   }
}
@media screen and (min-width: 1200px) {
    .col-end-12\@xl {
        grid-column-end: 12;
   }
}
.row-end-12 {
    grid-row-end: 12;
}
@media screen and (min-width: 576px) {
    .row-end-12\@sm {
        grid-row-end: 12;
   }
}
@media screen and (min-width: 768px) {
    .row-end-12\@md {
        grid-row-end: 12;
   }
}
@media screen and (min-width: 992px) {
    .row-end-12\@lg {
        grid-row-end: 12;
   }
}
@media screen and (min-width: 1200px) {
    .row-end-12\@xl {
        grid-row-end: 12;
   }
}
.align-self-start {
    align-self: start;
}
@media screen and (min-width: 576px) {
    .align-self-start\@sm {
        align-self: start;
   }
}
@media screen and (min-width: 768px) {
    .align-self-start\@md {
        align-self: start;
   }
}
@media screen and (min-width: 992px) {
    .align-self-start\@lg {
        align-self: start;
   }
}
@media screen and (min-width: 1200px) {
    .align-self-start\@xl {
        align-self: start;
   }
}
.align-self-end {
    align-self: end;
}
@media screen and (min-width: 576px) {
    .align-self-end\@sm {
        align-self: end;
   }
}
@media screen and (min-width: 768px) {
    .align-self-end\@md {
        align-self: end;
   }
}
@media screen and (min-width: 992px) {
    .align-self-end\@lg {
        align-self: end;
   }
}
@media screen and (min-width: 1200px) {
    .align-self-end\@xl {
        align-self: end;
   }
}
.align-self-center {
    align-self: center;
}
@media screen and (min-width: 576px) {
    .align-self-center\@sm {
        align-self: center;
   }
}
@media screen and (min-width: 768px) {
    .align-self-center\@md {
        align-self: center;
   }
}
@media screen and (min-width: 992px) {
    .align-self-center\@lg {
        align-self: center;
   }
}
@media screen and (min-width: 1200px) {
    .align-self-center\@xl {
        align-self: center;
   }
}
.align-self-baseline {
    align-self: baseline;
}
@media screen and (min-width: 576px) {
    .align-self-baseline\@sm {
        align-self: baseline;
   }
}
@media screen and (min-width: 768px) {
    .align-self-baseline\@md {
        align-self: baseline;
   }
}
@media screen and (min-width: 992px) {
    .align-self-baseline\@lg {
        align-self: baseline;
   }
}
@media screen and (min-width: 1200px) {
    .align-self-baseline\@xl {
        align-self: baseline;
   }
}
.align-self-stretch {
    align-self: stretch;
}
@media screen and (min-width: 576px) {
    .align-self-stretch\@sm {
        align-self: stretch;
   }
}
@media screen and (min-width: 768px) {
    .align-self-stretch\@md {
        align-self: stretch;
   }
}
@media screen and (min-width: 992px) {
    .align-self-stretch\@lg {
        align-self: stretch;
   }
}
@media screen and (min-width: 1200px) {
    .align-self-stretch\@xl {
        align-self: stretch;
   }
}
.justify-self-start {
    justify-self: start;
}
@media screen and (min-width: 576px) {
    .justify-self-start\@sm {
        justify-self: start;
   }
}
@media screen and (min-width: 768px) {
    .justify-self-start\@md {
        justify-self: start;
   }
}
@media screen and (min-width: 992px) {
    .justify-self-start\@lg {
        justify-self: start;
   }
}
@media screen and (min-width: 1200px) {
    .justify-self-start\@xl {
        justify-self: start;
   }
}
.justify-self-end {
    justify-self: end;
}
@media screen and (min-width: 576px) {
    .justify-self-end\@sm {
        justify-self: end;
   }
}
@media screen and (min-width: 768px) {
    .justify-self-end\@md {
        justify-self: end;
   }
}
@media screen and (min-width: 992px) {
    .justify-self-end\@lg {
        justify-self: end;
   }
}
@media screen and (min-width: 1200px) {
    .justify-self-end\@xl {
        justify-self: end;
   }
}
.justify-self-center {
    justify-self: center;
}
@media screen and (min-width: 576px) {
    .justify-self-center\@sm {
        justify-self: center;
   }
}
@media screen and (min-width: 768px) {
    .justify-self-center\@md {
        justify-self: center;
   }
}
@media screen and (min-width: 992px) {
    .justify-self-center\@lg {
        justify-self: center;
   }
}
@media screen and (min-width: 1200px) {
    .justify-self-center\@xl {
        justify-self: center;
   }
}
.justify-self-baseline {
    justify-self: baseline;
}
@media screen and (min-width: 576px) {
    .justify-self-baseline\@sm {
        justify-self: baseline;
   }
}
@media screen and (min-width: 768px) {
    .justify-self-baseline\@md {
        justify-self: baseline;
   }
}
@media screen and (min-width: 992px) {
    .justify-self-baseline\@lg {
        justify-self: baseline;
   }
}
@media screen and (min-width: 1200px) {
    .justify-self-baseline\@xl {
        justify-self: baseline;
   }
}
.justify-self-stretch {
    justify-self: stretch;
}
@media screen and (min-width: 576px) {
    .justify-self-stretch\@sm {
        justify-self: stretch;
   }
}
@media screen and (min-width: 768px) {
    .justify-self-stretch\@md {
        justify-self: stretch;
   }
}
@media screen and (min-width: 992px) {
    .justify-self-stretch\@lg {
        justify-self: stretch;
   }
}
@media screen and (min-width: 1200px) {
    .justify-self-stretch\@xl {
        justify-self: stretch;
   }
}
